.title {
    text-decoration: none;
}

.header-box {

    list-Style: none;
    display: flex;
    gap: 2rem;

    .link-main {
        text-decoration: none;
        color: black;
    }
}

.fetchnew-box {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    gap: 2rem;
    list-style: none;

}

.fetchnew-li {
    /* border: 2px solid red; */
    background-color: rgb(37, 34, 192);
    padding: 1rem;
}

/* .fetchnew-li:hover {
    transition: all .3s;
    transform: scale(1.05);
} */



.page {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    button {
        width: 8rem;
        height: 2.5rem;
        cursor: pointer;
    }
}

.view-more {

    width: 8rem;
    height: 2rem;
    cursor: pointer;

    .fetchnew-link {
        color: rgb(0, 0, 0);
        text-decoration: none;
    }
}

.Mutation-btn {
    width: 8rem;
    height: 2rem;
    cursor: pointer;

}